<section  id="mainPage">
	<div  class="row" id='selectType'>
		 	<div class="col-md-4" >
		 		
				<b>Type</b><select class="form-control"  ng-model="type"   ng-options="type.type for type in row" ng-change="getFormData();"  >
		  		
		  		</select>
		  		
            </div>	
            <div class="col-md-4">
				<b>State</b><select class="form-control" ng-model="state" ng-options="state.abbreviation for state in states" ng-change="loadCities()">
	  			</select>
            </div>

            <div class="col-md-4">
				<b>City</b><select class="form-control" ng-model="city" ng-init="cities[0].city" ng-options="city.city for city in cities " ng-change="getFormData();" >
	  			</select>
	  		</div>	
	  			
        </div>
        <div id='inputType' style="margin-top:10px">
        	<div class="col-md-4" >
        		<input ng-blur="getFormData()"  ng-model="orgName" name="orgName"  placeholder="name">
        	</div>	
        	<div class="col-md-4" >
        		<input ng-blur="getFormData()" name="orgCounty" ng-model="orgCounty"  placeholder="county">
        	</div>	
        	<div class="col-md-4" >
        		<input ng-blur="getFormData()" name="orgZipcode" ng-model="orgZip"  placeholder="zip  code">
        	</div>
        </div>
		
		<div id='responseTable' style="display:none" class="container" style="position:relative;top:50px">
    		<table id="my-final-table" style="width:1200px; text-align:left;" class="table table-striped">
	  			<thead>

	    			<th>CountyName</th>
	   				<th>Email</th>
	   				<th>Name</th>
	   				<th>OrganizationID</th>
	   				<th>State</th>
	   				<th>city</th>
	   				<th>type</th>
	   				<th>zip</th>
	  			</thead>
	  			<tbody>
	  			</tbody>
			</table>
   		 </div>

   		<!-- Button trigger modal -->
   		<div>
			
              
         	
			<!-- Modal -->

			<div class="modal fade admin" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
			        
			      <div class="modal-body">
			      	<!--tabs-->
			        <div id='tabs' style="height:400px;overflow:scroll">
			        	<div id="tabs2">
					         <ul >
					            <li  ng-repeat="row in tabs.row"><a href="#tabs-{{$index +2}}">{{row.Tab}}</a></li>
					            
					         </ul>
					         <div   ng-repeat="row in tabs.row" id="tabs-{{$index + 2}}">
					         	<div ng-if="row.Tab=='General'">
					         		<p>Name:<span>{{general.name}}</span></p>
					         		<p>Email:<span>{{general.email}}</span></p>
					         		<p>Description:<span>{{general.description}}</span></p>
					         		<p>Members:<span>{{general.nummemebrs}}</span></p>
					         		<p>Calls:<span>{{general.numcalls}}</span></p>
					         	</div>
						
					            <div ng-if="row.Tab=='Locations'">
					            	<div id='locationDetail' style="width:40%;;display:inline-block">

                                         <select ng-if="locations.count!='1'" ng-model="obj.location" ng-options="location.type for location in locations.location" ng-change="changeLocation()"></select><!--ngmodel doesn't work under ng--if child scope-->

                                         
                                         	  <p >Type:
                                         	  	<span ng=if="locations.count!='1'">{{obj.location.type}}</span>
                                         	  	<span ng=if="locations.count==='1'">{{locations.location.type}}</span>
                                         	  </p>

	                                          <p>Address:
	                                          	<span ng=if="locations.count!='1'">{{obj.location.address1}}</span>
	                                          	<span ng=if="locations.count=='1'">{{locations.locations.address1}}</span>
	                                          </p>

	                                          <p> City:
	                                          	<span  ng=if="locations.count!='1'">{{obj.location.city}}</span>
	                                            <span ng=if="locations.count=='1'">{{locations.location.city}}</span>
	                                          </p>  

	                                          <p>State:
	                                          	<span  ng=if="locations.count!='1'">{{obj.location.state}}</span>
												<span ng=if="locations.count=='1'">{{locations.location.state}}</span>
	                                      	  </p>

	                                          <p >Zip:
	                                          	<span ng=if="locations.count!='1'">{{obj.location.zip}}</span>
	                                          	<span ng=if="locations.count=='1'">{{locations.location.zip}}</span>
	                                          </p>
	                                          
	                                          <p>Phone:
	                                          	<span  ng=if="locations.count!='1'">{{obj.location.phone}}</span>
	                                            <span ng=if="locations.count=='1'">{{locations.location.phone}}</span>
	                                          </p>

	                                          <p>Lat:
	                                          	<span ng=if="locations.count!='1'">{{obj.location.lat}}</span>
	                                          	<span ng=if="locations.count=='1'">{{locations.location.lat}}</span>
	                                          </p>

	                                          <p>Lon:
	                                          	<span  ng=if="locations.count!='1'">{{obj.location.lon}} </span>
	                                          	<span ng=if="locations.count=='1'">{{locations.location.lon}}</span>
	                                          </p>

	                                          <p>County:
	                                          	<span ng=if="locations.count!='1'">{{obj.location.countyName}}</span>
	                                          	<span ng=if="locations.count=='1'">{{locations.countName}}</span>
	                                          </p>

                                     </div>
                                     <div id='locationMap' style="width:40%;display:inline-block;background-color:black">

                                     </div>	
                                      <!--google maps api-->
    					      			
                                    
					            </div>

					             <div ng-if="row.Tab=='People'">
					            	<div id='locationDetail' style="width:40%;;display:inline-block">

                                         <select ng-if="people.siteCount!='1'"  ng-model="obj.site" ng-options="site.siteType for site in people.site" ng-change="changePeople()"></select>
 
                                         <p>Address:
                                         	<span  ng-if="locations.count!='1'">{{obj.site.address}}</p><!--multiple sites found-->
                                         	<span ng-if="locations.count=='1'">{{people.site.address}}</span><!--single site found-->
                                         </p>
                                          <div ng-if="obj.site.personCount==='0'" ng-repeat="object in obj.site.person" style="margin-top:2px">
                                         	<p>No persons in this site</p>
                                         </div>

                                         <div ng-if="obj.site.personCount=='1'"  style="margin-top:2px">
                                         	<p>Name:{{people.site.person.fName}}<span>" "</span>{{{{people.site..person.mName}}<span>" "</span>{{{{people.site.person.lName}}
                                         	<p>Roll:{{object.person.Role}} 
                                         </div> 

                                         <div ng-if="obj.site.personCount!='0'&&obj.site.personCount!='1'">
	                                         <div   ng-repeat="person in obj.site.person" style="margin-top:2px">
	                                         	<p>Name:{{person.fName}}<span> </span>{{person.mName}}<span> </span>{{person.lName}}

	                                         	<p>Roll:{{person.Role}} 
	                                         </div> 
	                                     </div>    	
                                          
                                         	

                                      </div>
                                    
                                      
    							</div>

    							<div ng-if="row.Tab=='Treatment'">
    								<h3>Treatments</h3>
    								<table ng-if="treatments.count!='0'" style="width:100%">
    									<tr>
    										<th>Type</th>
    										<th>Abbreviation</th>
    									</tr>
    									
										<tr ng-repeat="treatment in treatments.treatment">
											<td>{{treatment.type}}</td>
											<td>{{treatment.abbreviation}}</td>
										</tr>
										
    									
    								</table>
    								<span ng-if="treatments.count=='0'">No treatments available</span>	
    							</div>	

    							<div ng-if="row.Tab=='Physicians'">
					         		<h3>Physicians</h3>
    								<table ng-if="physicians.count!='0'" style="width:100%">
    									<tr>
    										<th>Name</th>
    										<th>License</th>
    										<th>Contact</th>
    									</tr>
    									
										<tr ng-repeat="physician in physicians.physician">
											<td>{{physician.fName}}<span> </span>{{physician.mName}}<span> </span>{{physician.lName}}</td>
											<td>{{physician.license}}</td>
											<td>{{physician.phone}}</td>
										</tr>
									</table>
									<span ng-if="physicians.count=='0'">No physicians available</span>	
					         	</div>

    							<div ng-if="row.Tab=='Training'">
    								<h3>Training</h3>
    								<table ng-if="trainings.count!='0'" style="width:100%">
    									<tr>
    										<th>Type</th>
    										<th>Abbreviation</th>
    									</tr>
    									
										<tr ng-repeat="obj in trainings.training">
											<td>{{training.type}}</td>
											<td>{{training.abbreviation}}</td>
										</tr>
										<span ng-if="trainings.count=='0'">No tranings available</span>
    									
    								</table>	
    							</div>
    							<div ng-if="row.Tab=='Facilities'">
    								<table ng-if="physicians.count!='0'" style="width:100%">
    									<tr>
    										<th>Name</th>
    										<th>Quality</th>
    										<th>Description</th>
    									</tr>
    									
										<tr ng-repeat="object in facilities.facility">
											<td>{{object.type}}</td>
											<td>{{object.quantity}}</td>
											<td>{{object.description}}</td>
										</tr>
									</table>
									<span ng-if="physicians.count=='0'">No physicians available</span>	

    							</div>


					            
					         </div>
					        
					    </div>
			      	</div>
			      </div>
			      
			    </div>
			  </div>
			</div>

			
</section>